MovieApp/MovieApp.xcodeproj/project.xcworkspace/xcuserdata/shizo.xcuserdatad/UserInterfaceState.xcuserstate
MovieApp/MovieApp.xcodeproj/xcuserdata/shizo.xcuserdatad/xcschemes/xcschememanagement.plist
MovieApp/MovieApp.xcworkspace/xcuserdata/shizo.xcuserdatad/UserInterfaceState.xcuserstate.orig
MovieApp/MovieApp.xcworkspace/xcuserdata/shizo.xcuserdatad/UserInterfaceState_BACKUP_11460.xcuserstate
MovieApp/MovieApp.xcworkspace/xcuserdata/shizo.xcuserdatad/UserInterfaceState_BASE_11460.xcuserstate
MovieApp/MovieApp.xcworkspace/xcuserdata/shizo.xcuserdatad/UserInterfaceState_LOCAL_11460.xcuserstate
MovieApp/MovieApp.xcworkspace/xcuserdata/shizo.xcuserdatad/UserInterfaceState_REMOTE_11460.xcuserstate
